//@import "bootstrap"
@import "slick-less"
@import "fancybox"
@import "j_ui"



=b_a()
  content: ''
  position: absolute

=m_a()
  top: 0
  right: 0
  bottom: 0
  left: 0
  margin: auto


=flex()
  display: flex
  display: -webkit-flex

=j-center()
  justify-content: center
  -webkit-justify-content: center

=j-beetween()
  justify-content: space-between
  -webkit-justify-content: space-between

=j-space-around()
  justify-content: space-around
  -webkit-justify-content: space-around

=j-end()
  justify-content: flex-end
  -webkit-justify-content: flex-end

=j-start()
  justify-content: flex-start
  -webkit-justify-content: flex-start

=ai-center()
  align-items: center
  -webkit-align-items: center

=ai-start()
  align-items: flex-start
  -webkit-align-items: flex-start

=ai-end()
  align-items: flex-end
  -webkit-align-items: flex-end

=as-center()
  align-self: center
  -webkit-align-self: center

=as-end()
  align-self: flex-end
  -webkit-align-self: flex-end

=as-start()
  align-self: flex-start
  -webkit-align-self: flex-start

=wrap()
  flex-wrap: wrap
  -webkit-flex-wrap: wrap

=col()
  flex-direction: column
  -webkit-flex-direction: column


=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius


=box-shadow($box-shadow)
  -webkit-box-shadow: $box-shadow
  -moz-box-shadow: $box-shadow
  box-shadow: $box-shadow


=transform($transform)
  transform: $transform
  -webkit-transform: $transform
  -moz-transform: $transform
  -ms-transform: $transform
  -o-transform: $transform


=transition($transition_default)
  transition: $transition_default
  -webkit-transition: $transition_default
  -moz-transition: $transition_default
  -o-transition: $transition_default


$transition_default: .3s linear

$yellow: #FFC907
$black: #2C2C2C
$bg_black: #343331
$green: #1FA31C
$open_sans: 'Open Sans', sans-serif
$bg_grey: #F1F1F1
a, button
  +transition($transition_default)

a

  text-decoration: none
  &:hover, &:focus

    text-decoration: underline


button, input, .form-control
  outline: none

.form-control
  &:hover, &:focus
    box-shadow: none
    outline: none


button
  cursor: pointer
  &:hover, &:focus
    +box-shadow(none)
    outline: none

img, video
  max-width: 100%
*
  outline: none

*, *::before, *::after
  box-sizing: border-box

ul
  padding: 0
  margin: 0
  li
    list-style: none
p
  margin-top: 0
  margin-bottom: 1rem

body
  margin: 0
  color: #343331
  font-size: 14px
  line-height: 23px
  font-family: $open_sans
  overflow-x: hidden


.container
  max-width: 1200px
  margin-left: auto
  margin-right: auto
  padding: 0 12px

.row
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  margin-right: -12px
  margin-left: -12px


.col
  padding-left: 12px
  padding-right: 12px


header
  background: $bg_black
  //padding: 20px 0
  height: 90px
  position: fixed
  top: 0
  left: 0
  right: 0
  width: 100%
  z-index: 99
  @media (max-width: 767px)
    height: auto

  .contacts_search
    padding: 5px 0
    +flex
    +ai-center
    @media (min-width: 1025px)
      +j-beetween
      border-bottom: 1px solid rgba(255, 255, 255, 0.15)
    @media (max-width: 1024px)
      margin-right: 20px
    @media (max-width: 575px)
      margin-right: 10px

    .search_box
      margin-left: 20px
      @media (max-width: 575px)
        margin-left: 10px
    ul
      +flex
      +ai-center
      +j-end
      +wrap
      @media (max-width: 1200px)
        line-height: 1.2
      li
        @media (max-width: 1024px)
          width: 100%
          text-align: right
        a
          color: #fff
          position: relative
          display: inline-block
          font-size: 14px
          font-weight: 600

          margin-left: 37px
          @media (max-width: 1024px)
            margin-left: 0
          @media (max-width: 767px)
            font-size: 12px

          @media (max-width: 375px)
            font-size: 10px
          &:hover
            color: $yellow
            text-decoration: none
          &.phone
            padding-left: 20px
            &:hover
              &:before
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.3333 8.33333C10.5 8.33333 9.7 8.2 8.95333 7.95333C8.72 7.88 8.46 7.93333 8.27333 8.11333L6.80667 9.58C4.92 8.62 3.37333 7.08 2.41333 5.18667L3.88 3.71333C4.06667 3.54 4.12 3.28 4.04667 3.04667C3.8 2.3 3.66667 1.5 3.66667 0.666667C3.66667 0.3 3.36667 0 3 0H0.666667C0.3 0 0 0.3 0 0.666667C0 6.92667 5.07333 12 11.3333 12C11.7 12 12 11.7 12 11.3333V9C12 8.63333 11.7 8.33333 11.3333 8.33333Z' fill='%23ffc907'/%3e%3c/svg%3e ")
            &:before
              +b_a
              left: 0
              top: 0
              bottom: 0
              margin: auto
              width: 12px
              height: 12px
              background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.3333 8.33333C10.5 8.33333 9.7 8.2 8.95333 7.95333C8.72 7.88 8.46 7.93333 8.27333 8.11333L6.80667 9.58C4.92 8.62 3.37333 7.08 2.41333 5.18667L3.88 3.71333C4.06667 3.54 4.12 3.28 4.04667 3.04667C3.8 2.3 3.66667 1.5 3.66667 0.666667C3.66667 0.3 3.36667 0 3 0H0.666667C0.3 0 0 0.3 0 0.666667C0 6.92667 5.07333 12 11.3333 12C11.7 12 12 11.7 12 11.3333V9C12 8.63333 11.7 8.33333 11.3333 8.33333Z' fill='white'/%3e%3c/svg%3e ")





.header_row
  +flex
  //+ai-center
  height: 90px
  @media (max-width: 767px)
    height: auto
  .col_left
    width: 145px

    @media (max-width: 575px)
      //width: 80px
      width: auto
  .col_right
    width: calc(100% - 145px)
    height: 90px
    @media (max-width: 1200px)
      width: calc(100% - 145px)

    @media (max-width: 1024px)
      +flex
      +j-end
      +ai-center
      //padding-top: 22px
    @media (max-width: 767px)
      width: calc(100% - 100px)
      +ai-center
      padding-top: 0
      height: auto
    @media (max-width: 575px)
      width: calc(100% - 80px)

.logo
  +flex
  a
    +flex
    img
      @media (max-width: 575px)
        max-width: 70px

.mm_btn
  width: 40px
  height: 30px
  +flex
  @media (max-width: 575px)
    width: 30px
    height: 23px
  .hamburger
    width: 40px
    height: 30px
    background: none
    border: 0
    position: relative
    @media (max-width: 575px)
      width: 30px
      height: 23px
    span
      position: absolute
      width: 100%
      height: 3px
      background: $yellow
      left: 0
      +border-radius(3px)
      &:nth-child(1)
        top: 0
      &:nth-child(2)
        top: 0
        bottom: 0
        margin: auto
      &:nth-child(3)
        bottom: 0

  @media (min-width: 1025px)
    display: none

header
  .main_menu
    @media (max-width: 1024px)
      position: fixed
      top: 0
      right: 0
      width: 80%
      height: 100%
      background: $black
      padding-top: 50px
      padding-left: 10px
      overflow: auto
      opacity: 0
      z-index: 9999
      +transition($transition_default)
      +transform(translateX(100%))
      &.open
        +transform(translateX(0))
        opacity: 1

.main_menu
  @media (min-width: 1201px)
    padding-left: 39px
  @media (min-width: 1025px)
    padding-left: 15px

  .mm_close
    width: 30px
    height: 30px
    position: absolute
    left: 0
    top: 0
    background: #fff
    &:before, &:after
      +b_a
      width: 25px
      height: 1px
      background: $black
      +m_a
    &:before
      +transform(rotate(-45deg))
    &:after
      +transform(rotate(45deg))
    @media (min-width: 1025px)
      display: none
  .nav
    +flex
    +ai-center
    +wrap

    li
      position: relative
      &:hover
        > .sub_menu
          @media (min-width: 1025px)
            display: block
    > li
      padding: 15px 20px
      @media (max-width: 1200px)
        padding: 15px 10px
      @media (min-width: 1025px)
        flex-grow: 1
        > .arrow
          display: none
      @media (max-width: 1024px)
        width: 100%
        padding: 8px 5px
        margin-bottom: 5px


      &.has_child
        @media (min-width: 1025px)
          > a
            padding-right: 15px
            &:after
              +b_a
              top: 0
              bottom: 0
              right: 0
              margin: auto
              width: 8px
              height: 5px
              background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L4 4L7 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")

      > a
        text-transform: uppercase
        color: #fff
        font-size: 15px
        font-weight: 700
        display: inline-block
        //padding: 29px 15px
        position: relative
        @media (max-width: 1200px)
          font-size: 14px
        &:hover
          text-decoration: none
          color: $yellow
      .arrow
        @media (max-width: 1024px)
          width: 30px
          height: 25px
          position: absolute
          right: 10px
          &.act
            &:before
              +transform(rotate(180deg))

          &:before
            +b_a
            +m_a
            width: 10px
            height: 6px
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L5 5L9 1' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")





    .sub_menu
      display: none
      @media (min-width: 1025px)
        position: absolute
        top: 100%
        left: 0
        min-width: 340px
        background: #fff
        +box-shadow( 3px 4px 35px rgba(0, 0, 0, 0.25))
        +border-radius(2px)
      @media (min-width: 1201px)
        min-width: 460px
      li
        padding: 7px 35px 7px 25px
        position: relative
        @media (max-width: 1024px)
          padding: 4px 5px 4px 10px
        .arrow
          position: absolute
          right: 22px
          top: 15px
          width: 10px
          height: 6px
          @media (max-width: 1024px)
            width: 30px
            height: 25px
            top: 5px
            right: 10px
          &:before
            +b_a
            +m_a
            width: 10px
            height: 6px
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L5 5L9 1' stroke='%232C2C2C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
            @media (max-width: 1024px)
              background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L5 5L9 1' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")

        &:hover
          @media (min-width: 1025px)
            background: $yellow

        a
          color: $black
          font-size: 14px
          position: relative
          display: inline-block
          padding-left: 17px
          line-height: 19px
          @media (max-width: 1024px)
            color: #fff
          &:hover
            text-decoration: none
          &:before
            +b_a
            width: 5px
            height: 1px
            background: $black
            left: 0
            top: 10px
            @media (max-width: 1024px)
              background: #fff
      .sub_menu
        left: 100%
        top: 0
        min-width: 300px

.main_slider
  width: 100%
  .slick_arrow
    position: absolute
    top: 50%
    width: 50px
    height: 50px
    background: rgba(255, 255, 255, 0.2)
    +border-radius(50%)
    border: 0
    +transition($transition_default)
    @media (max-width: 767px)
      display: none
    &:hover
      background: $yellow
    &:before
      +b_a
      +m_a
      width: 12px
      height: 20px
  .ms_prev
    left: 0
    &:before
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10 2L2 10L10 18' stroke='white' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
  .ms_next
    right: 0
    &:before
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 18L10 10L2 2' stroke='white' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
  .slick-dots
    bottom: 35px
    li
      width: auto
      height: auto
      margin: 0 11px
      &.slick-active
        button
          background: $yellow
      button
        background: #C4C4C4
        width: 10px
        height: 10px
        +border-radius(50%)
        &:before
          display: none

.main_slider_item
  background-size: cover
  background-position: center
  height: 850px
  position: relative
  @media (max-width: 1200px)
    height: 700px
  @media (max-width: 991px)
    height: 650px
  @media (max-width: 767px)
    height: 500px
  @media (max-width: 575px)
    height: 400px
  &:before
    +b_a
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: linear-gradient(87.45deg, rgba(44, 44, 44, 0.6715) 1.36%, rgba(44, 44, 44, 0.7395) 17.54%, rgba(44, 44, 44, 0.425) 95.5%)
  .container
    position: relative
    color: #fff
    text-align: center
    +flex
    +ai-center
    +j-center
    height: 100%

    .btn_default
      margin: auto
    .title
      text-transform: uppercase
      font-size: 46px
      line-height: 63px
      font-weight: 700
      margin-bottom: 40px
      @media (max-width: 1200px)
        font-size: 40px
        line-height: 1.2
        margin-bottom: 30px
      @media (max-width: 991px)
        font-size: 35px
      @media (max-width: 767px)
        font-size: 30px
        margin-bottom: 20px
      @media (max-width: 575px)
        font-size: 25px

    .sub_title
      display: inline-block
      position: relative
      text-transform: uppercase
      font-size: 20px
      line-height: 27px
      font-weight: 700
      padding-left: 30px
      margin-bottom: 40px
      @media (max-width: 1200px)
        font-size: 18px
        line-height: 1.2
        margin-bottom: 30px
      @media (max-width: 767px)
        font-size: 16px
        margin-bottom: 20px
      &:before
        +b_a
        left: 0
        top: 0
        bottom: 0
        width: 21px
        height: 22px
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18.2615 0.6875L21 0.6875L15.4966 21.3125L12.7581 21.3125L18.2615 0.6875Z' fill='%23FEDD00'/%3e%3cpath d='M11.8825 0.6875L14.621 0.6875L9.1176 21.3125L6.3791 21.3125L11.8825 0.6875Z' fill='%23FEDD00'/%3e%3cpath d='M5.50344 0.6875L8.24197 0.6875L2.73857 21.3125L6.82633e-05 21.3125L5.50344 0.6875Z' fill='%23FEDD00'/%3e%3c/svg%3e ")


.btn_default
  +flex
  +ai-center
  +j-center
  color: $black
  text-transform: uppercase
  font-size: 14px
  font-weight: 700
  background: $yellow
  border: 0
  background: linear-gradient(180deg, #FEDD00 0%, #FFC907 62.5%, #FCE208 100%)
  box-shadow: 2px 4px 17px rgba(225, 176, 0, 0.3), inset 0px -3px 0px #E1B000
  +border-radius(2px)
  width: 100%
  max-width: 205px
  height: 55px
  text-decoration: none
  @media (max-width: 1200px)
    height: 50px
  @media (max-width: 991px)
    height: 45px
  @media (max-width: 767px)
    height: 40px
  &:hover
    text-decoration: none
    background: linear-gradient(180deg, #FEDD00 0%, #ffc907 30.5%, #FCE208 100%)



.text-center
  text-align: center


.section_title, .page_title
  position: relative
  display: inline-block
  padding-left: 50px
  color: $black
  text-transform: uppercase
  font-size: 34px
  line-height: 46px
  font-weight: 600
  margin: 40px 0
  @media (max-width: 1200px)
    font-size: 32px
    line-height: 1.2
  @media (max-width: 991px)
    font-size: 30px
  @media (max-width: 767px)
    font-size: 26px
  @media (max-width: 575px)
    font-size: 24px
  &:before
    +b_a
    left: 0
    top: 0
    bottom: 0
    margin: auto
    width: 30px
    height: 31px
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='31' viewBox='0 0 30 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M26.0878 0.96875L30 0.96875L22.138 30.0312L18.2258 30.0313L26.0878 0.96875Z' fill='%23FEDD00'/%3e%3cpath d='M16.9749 0.96875L20.8871 0.96875L13.0251 30.0312L9.11291 30.0313L16.9749 0.96875Z' fill='%23FEDD00'/%3e%3cpath d='M7.86196 0.96875L11.7741 0.96875L3.91215 30.0312L-8.81179e-07 30.0313L7.86196 0.96875Z' fill='%23FEDD00'/%3e%3c/svg%3e ")



.services_list
  margin-bottom: 20px
  .col
    width: 25%
    margin-bottom: 20px
    @media (max-width: 1200px)
      width: 33.33%
    @media (max-width: 767px)
      width: 50%
    @media (max-width: 575px)
      width: 100%
    .services_item
      +flex
      +wrap
      &:hover
        .img_thumbnail
          &:before
            opacity: 1
          .btn_default
            opacity: 1
        .serv_name
          background: $yellow
          color: $black


      .serv_name
        background: #343331
        width: 100%
        height: 75px
        padding: 15px 13px
        text-align: center
        text-decoration: none
        +flex
        +j-center
        color: #fff
        font-size: 16px
        font-weight: 600
        span
          display: -webkit-box
          overflow: hidden
          text-overflow: ellipsis
          -webkit-line-clamp: 2
          white-space: normal
          -webkit-box-orient: vertical

      .img_thumbnail
        background-position: center
        background-size: cover
        height: 225px
        width: 100%
        position: relative
        &:before
          +b_a
          width: 100%
          height: 100%
          top: 0
          left: 0
          background: rgba(44, 44, 44, 0.55)
          +transition($transition_default)
          opacity: 0
        .btn_default
          position: absolute
          +m_a
          +box-shadow(none)
          border: 2px solid $yellow
          background: none
          color: #fff
          z-index: 2
          opacity: 0
          span
            position: relative
            display: inline-block
            padding-left: 30px
            &:before, &:after
              +b_a
              left: 0
              top: 0
              bottom: 0
              margin: auto
              width: 15px
              height: 2px
              background: #fff
            &:after
              +transform(rotate(90deg))



section
  padding: 30px 0
  @media (max-width: 767px)
    padding: 20px 0

.main_services
  position: relative
  &:before
    +b_a
    width: 0
    height: 0
    right: 0
    left: 0
    bottom: -17px
    margin: auto
    border-top: 17px solid #fff
    border-left: 17px solid transparent
    border-right: 17px solid transparent

.main_products
  background: #F7F7F7
  .page_pagination
    margin-bottom: 22px
.products_list
  margin-bottom: 15px
  .col
    width: 33.33%
    margin-bottom: 20px
    @media (max-width: 1200px)
      width: 33.33%
    @media (max-width: 767px)
      width: 50%
    @media (max-width: 575px)
      width: 100%
    .product_item
      background: #fff
      text-align: center
      +border-radius(2px)
      position: relative
      @media (min-width: 768px)
        height: 405px
        +transition($transition_default)
      &:hover
        z-index: 10
        .product_item_content
          height: auto
          +box-shadow(3px 4px 35px rgba(0, 0, 0, 0.17))
          .product_item_body
            .btn_default
              +flex
      .product_item_content
        @media (min-width: 768px)
          position: absolute
          width: 100%
          height: 405px
          top: 0
          left: 0
          background: #fff
          +transition($transition_default)
        .product_item_img
          width: 100%
          height: 280px
          padding: 10px
          position: relative
          border-bottom: 1px solid #EDEDED
          img
            position: absolute
            +m_a
        .product_item_body
          padding: 15px 15px 18px
          .product_item_name
            color: #343331
            font-size: 14px
            line-height: 19px
            display: -webkit-box
            overflow: hidden
            text-overflow: ellipsis
            -webkit-line-clamp: 2
            white-space: normal
            -webkit-box-orient: vertical
            margin-bottom: 10px
          .price
            color: $black
            font-size: 18px
            line-height: 22px
            font-weight: 600
            margin-bottom: 5px
          .availability
            display: inline-block
            padding-left: 13px
            position: relative
            color: $green
            font-size: 12px
            margin-bottom: 10px
            &:before
              +b_a
              left: 0
              top: 0
              bottom: 0
              margin: auto
              width: 9px
              height: 8px
              background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='8' viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 4L3.5 6.5L8 1' stroke='%231FA31C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")

          .btn_default
            margin: auto
            max-width: 180px
            height: 45px
            font-size: 14px
            text-transform: uppercase
            @media (min-width: 768px)
              display: none
            span
              padding-left: 30px
              display: inline-block
              position: relative
              &:before, &:after
                +b_a
                width: 15px
                height: 2px
                background: $black
                left: 0
                top: 0
                bottom: 0
                margin: auto
              &:after
                +transform(rotate(90deg))





.page_pagination
  +flex
  +ai-center
  +j-center
  padding: 15px 25px
  position: relative
  z-index: 2
  //margin-bottom: 45px
  @media (max-width: 575px)
    +wrap
    +j-start
    padding: 10px
  span
    font-size: 12px
    @media (max-width: 575px)
      width: 100%
      display: inline-block
      margin-bottom: 20px
  .custom_pagination
    +flex
    +ai-center
    @media (max-width: 575px)
      width: 100%
    li
      + li
        margin-left: 3px
      a
        +flex
        +ai-center
        +j-center
        width: 25px
        height: 25px
        +border-radius(2px)
        text-decoration: none
        color: $black
        font-size: 16px
        &.active

          background: $black
          color: #fff
        &:hover
          text-decoration: none
          background: $yellow
          color: #fff
        &.page_prev, &.page_next
          position: relative
          border: 1px solid #EDEDED
          &:hover
            border: 1px solid $yellow
          &:before
            +b_a
            +m_a
            width: 7px
            height: 10px
          &.page_prev
            &:hover
              &:before
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 9L1 5L6 1' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
            &:before
              background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 9L1 5L6 1' stroke='%23A7A7A7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
          &.page_next
            &:hover
              &:before
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L6 5L1 9' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
            &:before
              background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L6 5L1 9' stroke='%23A7A7A7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")





.main_about
  position: relative
  .container
    //position: relative
  .about_row
    .col
      width: 50%
      @media (max-width: 1200px)
        width: 100%
      img
        @media (min-width: 1201px)
          position: absolute
          bottom: 0


footer
  background: $bg_black
  color: #fff
  padding: 70px 0 50px
  @media (max-width: 1200px)
    padding: 50px 0 30px
  @media (max-width: 767px)
    padding: 30px 0 20px
  .footer_row

    +flex
    +wrap
    &:first-child
      @media (min-width: 1025px)
        margin-bottom: 30px
    .col_left
      width: 35%
      @media (max-width: 1024px)
        width: 100%
        margin-bottom: 30px
    .col_right
      width: 65%
      @media (max-width: 1024px)
        width: 100%
        margin-bottom: 30px
      .row
        .col
          width: 33.33%
          @media (max-width: 1024px)
            width: 100%

  .footer_text
    font-size: 12px
    line-height: 16px
    max-width: 280px
  .location
    position: relative
    display: inline-block
    padding-left: 25px
    &:before
      +b_a
      left: 0
      top: 5px
      width: 11px
      height: 16px
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='16' viewBox='0 0 11 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.5 0C2.45929 0 0 2.504 0 5.6C0 9.8 5.5 16 5.5 16C5.5 16 11 9.8 11 5.6C11 2.504 8.54071 0 5.5 0ZM5.5 7.6C4.41571 7.6 3.53571 6.704 3.53571 5.6C3.53571 4.496 4.41571 3.6 5.5 3.6C6.58429 3.6 7.46429 4.496 7.46429 5.6C7.46429 6.704 6.58429 7.6 5.5 7.6Z' fill='white'/%3e%3c/svg%3e ")

  .phone
    display: inline-block
    position: relative
    color: #fff
    font-size: 15px
    text-transform: uppercase
    font-weight: 700
    padding-left: 30px
    padding-bottom: 5px

    &:hover
      text-decoration: none
      color: $yellow
      &:before
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.1667 10.4167C13.125 10.4167 12.125 10.25 11.1917 9.94167C10.9 9.85 10.575 9.91667 10.3417 10.1417L8.50833 11.975C6.15 10.775 4.21667 8.85 3.01667 6.48333L4.85 4.64167C5.08333 4.425 5.15 4.1 5.05833 3.80833C4.75 2.875 4.58333 1.875 4.58333 0.833333C4.58333 0.375 4.20833 0 3.75 0H0.833333C0.375 0 0 0.375 0 0.833333C0 8.65833 6.34167 15 14.1667 15C14.625 15 15 14.625 15 14.1667V11.25C15 10.7917 14.625 10.4167 14.1667 10.4167Z' fill='%23ffc907'/%3e%3c/svg%3e ")
      span
        border-bottom: 2px dotted $yellow
    span
      display: inline-block
      line-height: 1.7
      border-bottom: 2px dotted #FFFFFF
      +transition($transition_default)
    &:before
      +b_a
      left: 0
      top: 0
      bottom: 0
      margin: auto
      width: 15px
      height: 15px
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.1667 10.4167C13.125 10.4167 12.125 10.25 11.1917 9.94167C10.9 9.85 10.575 9.91667 10.3417 10.1417L8.50833 11.975C6.15 10.775 4.21667 8.85 3.01667 6.48333L4.85 4.64167C5.08333 4.425 5.15 4.1 5.05833 3.80833C4.75 2.875 4.58333 1.875 4.58333 0.833333C4.58333 0.375 4.20833 0 3.75 0H0.833333C0.375 0 0 0.375 0 0.833333C0 8.65833 6.34167 15 14.1667 15C14.625 15 15 14.625 15 14.1667V11.25C15 10.7917 14.625 10.4167 14.1667 10.4167Z' fill='white'/%3e%3c/svg%3e ")
  .f_menu
    li
      margin-bottom: 20px
      a
        text-decoration: underline
        color: #fff
        font-size: 14px
        display: inline-block
        &:hover
          text-decoration: none
          color: $yellow

  .main_menu
    .nav
      width: 100%
      display: inline-block
      column-count: 4
      position: relative
      @media (max-width: 1024px)
        column-count: 1
      > li
        padding: 13px 0
        position: initial
      li

        .sub_menu
          @media (min-width: 1025px)
            top: initial
            bottom: 100%
            .sub_menu
              top: initial
              bottom: 0

.category_template
  .page_content
    padding-top: 70px
    @media (max-width: 1200px)
      padding-top: 30px
    @media (max-width: 767px)
      padding-top: 20px
  .header_row
    .col_left
      @media (min-width: 768px)
        //height: 80px
        //overflow: hidden

    //overflow: hidden
.page_content
  .services_list
    padding-bottom: 30px



.category_list
  margin-bottom: 40px
  .col
    width: 33.33%
    margin-bottom: 20px
    @media (max-width: 991px)
      width: 50%
    @media (max-width: 575px)
      width: 100%

    .category_item
      width: 100%
      height: 225px
      background-size: cover
      background-position: center
      position: relative
      display: inline-block
      +transition($transition_default)
      &:hover
        +box-shadow(3px 4px 35px rgba(0, 0, 0, 0.17))
        .read_more
          color: $yellow
          &:before, &:after
            background: $yellow
      .category_name
        color: $black
        text-transform: uppercase
        font-size: 16px
        line-height: 26px
        font-weight: 700
        position: absolute
        left: 20px
        bottom: 47%
        max-width: 50%

      .read_more
        position: absolute
        left: 20px
        bottom: 29%

.read_more
  display: inline-block
  position: relative
  padding-left: 30px
  text-decoration: none
  color: $black
  font-size: 14px
  text-transform: uppercase
  font-weight: 600
  +transition($transition_default)
  &:before, &:after
    +b_a
    left: 0
    top: 0
    bottom: 0
    margin: auto
    width: 15px
    height: 2px
    background: $black
    +transition($transition_default)
  &:after
    +transform(rotate(90deg))

.bg_grey
  background: $bg_grey
.page_seotext
  padding: 70px 0
  @media (max-width: 1200px)
    padding: 50px 0
  @media (max-width: 767px)
    padding: 30px 0
  .section_title
    margin-top: 0
    margin-bottom: 25px

.column3
  .col
    width: 33.33%
    @media (max-width: 991px)
      width: 50%
    @media (max-width: 767px)
      width: 100%


.breadcrumb
  background: #F2F2F2
  padding: 5px 0 5px 200px
  margin-bottom: 30px
  +flex
  +ai-center
  +wrap
  @media (max-width: 1200px)
    padding-left: 170px
    margin-bottom: 10px
  @media (max-width: 767px)
    padding-left: 10px
    margin-bottom: 0

  li
    position: relative
    padding: 0 15px
    &:first-child
      padding-left: 18px
      &:before
        +b_a
        left: 0
        top: 0
        bottom: 0
        margin: auto
        width: 12px
        height: 9px
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.8 9V5.82353H7.2V9H10.2V4.76471H12L6 0L0 4.76471H1.8V9H4.8Z' fill='%23343331'/%3e%3c/svg%3e ")

    + li
      &:before
        +b_a
        left: -2px
        top: 0
        bottom: 0
        margin: auto
        width: 5px
        height: 9px
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='5' height='9' viewBox='0 0 5 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L4 4.5L1 8' stroke='%23343331' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
    &:last-child
      a
        color: #939291

    a
      color: $black
      font-size: 13px
      display: inline-block

.page_content
  &.bg_grey
    padding-bottom: 50px
    @media (max-width: 1200px)
      padding-bottom: 30px
.bg_grey
  .page_pagination
    .custom_pagination
      li
        a
          &.page_prev, &.page_next
            background: #fff
            &:hover
              background: $yellow


.sort_box
  +flex
  +ai-center
  //+wrap
  margin-bottom: 20px
  .sort_item
    margin-right: 37px
    @media (max-width: 575px)
      margin-right: 10px
.custom_select
  display: inline-block
  position: relative
  &:before
    +b_a
    right: 0
    top: 0
    bottom: 0
    margin: auto
    width: 9px
    height: 5px
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 4L4.5 1L8 4' stroke='%23343331' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")

  select
    border: 0
    appearance: none
    -webkit-appearance: none
    background: none
    color: #939291
    font-size: 14px
    padding-right: 17px
    @media (max-width: 575px)
      padding-right: 10px
      font-size: 12px
    *
      color: #939291
      font-size: 14px
      @media (max-width: 575px)
        font-size: 12px



.contacts_row
  .col
    width: 25%
    margin-bottom: 20px
    @media (max-width: 1200px)
      width: 33.33%
    @media (max-width: 767px)
      width: 50%
    @media (max-width: 575px)
      width: 100%
    .icon
      margin-right: 15px
    p
      font-size: 14px
      line-height: 19px
    .time
      padding-left: 45px
    .location
      +flex
      +ai-center
      .icon
        margin-right: 12px
    .phone, .email
      color: $black
      text-decoration: none
      font-size: 15px
      font-weight: 700
      +flex
      +ai-center
      &:hover
        color: $yellow

.icon
  background: #F7F7F7
  border: 1px solid #EEEEEE
  width: 30px
  min-width: 30px
  height: 30px
  +border-radius(50%)
  +flex
  +ai-center
  +j-center


.contacts_form_box
  position: relative
  padding-bottom: 70px
  padding-top: 30px
  @media (max-width: 1200px)
    padding-bottom: 50px
    padding-top: 20px
  @media (max-width: 767px)
    padding-bottom: 30px
    padding-top: 10px
  img
    position: absolute
    right: 0
    bottom: 0
    top: 0
    margin: auto
    @media (max-width: 1200px)
      display: none
.contacts_form_content
  position: relative
  z-index: 2
  background: #FFFFFF
  +box-shadow(3px 4px 35px rgba(0, 0, 0, 0.17))
  +border-radius(2px)
  width: 100%
  max-width: 790px
  padding: 40px 100px
  @media (max-width: 1200px)
    padding: 30px 70px
  @media (max-width: 991px)
    padding: 30px 50px
  @media (max-width: 767px)
    padding:  30px
  @media (max-width: 575px)
    padding: 20px 15px
  .title
    font-weight: 600
    font-size: 34px
    line-height: 46px
    text-align: center
    margin-bottom: 10px
    @media (max-width: 1200px)
      font-size: 30px
      line-height: 1.2
    @media (max-width: 767px)
      font-size: 25px
  .sub_title
    text-align: center
    font-size: 16px
    line-height: 22px
    font-weight: 600
    margin-bottom: 30px
    @media (max-width: 767px)
      font-size: 14px
      line-height: 1.2

  .row
    margin-right: -7px
    margin-left: -7px
    .col_left
      padding: 0 7px
      width: 32%
      @media (max-width: 767px)
        width: 100%
    .col_right
      width: 68%
      padding: 0 7px
      @media (max-width: 767px)
        width: 100%


    .field
      position: relative
      margin-bottom: 15px
      +flex
      +wrap

      .btn_default
        max-width: 100%
        height: 45px
      label
        color: #939291
        font-size: 12px
        pointer-events: none
      input, textarea
        background: #F7F7F7
        border: 1px solid #EEEEEE
        +border-radius(2px)
        width: 100%
        padding: 10px 15px

        &:focus, &.hide_label
          + label
            display: none

      input
        height: 45px
        + label
          position: absolute
          left: 15px
          top: 11px

      textarea
        height: 165px
        + label
          position: absolute
          left: 15px
          top: 11px


.fancybox-container
  .contacts_form_content
    padding: 35px 30px 20px
    max-width: 586px
    @media (max-width: 575px)
      padding: 30px 15px 20px
    .row
      .col_left
        @media (min-width: 768px)
          width: 36%
      .col_right
        @media (min-width: 768px)
          width: 64%
    .title
      font-size: 24px
      font-weight: 600
      margin-bottom: 25px

#checkout, #order_service, #order_product
  display: none
.red
  color: red

.fancybox-close-small
  width: 30px
  height: 30px
  +border-radius(2px)
  background: $yellow
  opacity: 1
  svg
    *
      fill: $black

.fancybox-slide--html
  .fancybox-close-small
    padding: 2px


.availability
  display: inline-block
  padding-left: 13px
  position: relative
  color: $green
  font-size: 12px
  margin-bottom: 10px
  &:before
    +b_a
    left: 0
    top: 0
    bottom: 0
    margin: auto
    width: 9px
    height: 8px
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='8' viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 4L3.5 6.5L8 1' stroke='%231FA31C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")


.tab-pane
  border: 1px solid #EEEEEE
  padding: 40px 70px
  position: relative
  margin-bottom: 70px
  @media (max-width: 1200px)
    padding: 30px 50px
    margin-bottom: 50px
  @media (max-width: 767px)
    margin-bottom: 30px
    padding-right: 15px
.product_desc
  &:before
    +b_a
    left: 25px
    top: 40px
    width: 25px
    height: 25px
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M25 25C24.6313 24.8666 24.3065 24.7506 23.9816 24.6346C21.6581 23.7993 19.3288 22.964 17.0024 22.1287C16.7683 22.0446 16.5342 21.8938 16.303 21.8967C16.0718 21.8996 15.8406 22.0562 15.6095 22.1432C14.0146 22.7494 12.3612 22.993 10.6581 22.8538C8.03908 22.6421 5.73899 21.6676 3.793 19.9129C1.80895 18.1234 0.576975 15.9076 0.155586 13.28C-0.306772 10.3942 0.260933 7.70274 1.86455 5.2433C3.22529 3.158 5.07765 1.63245 7.4304 0.782671C11.2639 -0.603662 14.9071 -0.154119 18.2461 2.1777C20.7832 3.94977 22.3341 6.40341 22.8843 9.4313C23.4286 12.4331 22.817 15.2232 21.1343 17.7754C20.9939 17.99 20.8417 18.1959 20.6808 18.399C20.6076 18.4918 20.5988 18.5556 20.672 18.66C21.6669 20.1043 22.656 21.5545 23.6451 23.0017C24.0753 23.6311 24.5025 24.2575 24.9327 24.8869C24.9503 24.9101 24.9649 24.9362 25 25ZM18.4889 18.4135C18.5328 18.3642 18.5709 18.3178 18.606 18.2743C18.846 17.9958 19.1005 17.7261 19.3229 17.4332C21.0787 15.1362 21.7342 12.5578 21.2397 9.71843C20.8973 7.75494 19.9931 6.06118 18.5914 4.63134C15.8728 1.85577 11.7145 0.936386 8.07127 2.30532C3.74325 3.92947 1.1359 8.25379 1.77384 12.7985C2.12207 15.2899 3.28382 17.3578 5.23274 18.9587C7.47723 20.8033 10.0699 21.511 12.9582 21.1281C14.0497 20.9831 15.0798 20.6293 16.0601 20.1391C16.1245 20.1072 16.224 20.0927 16.2884 20.1159C17.4677 20.5336 18.644 20.9599 19.8204 21.3805C20.1072 21.4849 20.394 21.5864 20.6837 21.6879C20.6895 21.6792 20.6954 21.6734 20.7042 21.6647C19.9697 20.58 19.2293 19.5011 18.4889 18.4135Z' fill='%23FEDD00'/%3e%3cpath d='M9.89453 14.9997C10.2428 14.9997 10.5793 14.9997 10.9246 14.9997C10.9246 13.7816 10.9246 12.578 10.9246 11.3541C10.5851 11.3541 10.2457 11.3541 9.89453 11.3541C9.89453 10.6493 9.89453 9.96484 9.89453 9.26587C10.9363 9.26587 11.9781 9.26587 13.0345 9.26587C13.0345 11.1714 13.0345 13.071 13.0345 14.9939C13.3915 14.9939 13.7339 14.9939 14.085 14.9939C14.085 15.6987 14.085 16.3832 14.085 17.0763C12.6892 17.0763 11.2992 17.0763 9.89453 17.0763C9.89453 16.3948 9.89453 15.7074 9.89453 14.9997Z' fill='%23FEDD00'/%3e%3cpath d='M11.855 8.18616C11.1527 8.18616 10.5938 7.62661 10.5967 6.9279C10.5996 6.24369 11.1644 5.68994 11.8609 5.68994C12.5573 5.68994 13.1221 6.24949 13.1192 6.9337C13.1133 7.63531 12.5573 8.18905 11.855 8.18616Z' fill='%23FEDD00'/%3e%3c/svg%3e ")
    @media (max-width: 1200px)
      top: 30px
      left: 10px
.product_row
  padding-top: 15px
  margin-bottom: 40px
  .col
    width: 50%
    @media (max-width: 767px)
      width: 100%

  h1
    font-weight: 600
    font-size: 34px
    line-height: 46px
    @media (max-width: 1200px)
      font-size: 30px
      line-height: 1.2
    @media (max-width: 991px)
      font-size: 26px
    @media (max-width: 767px)
      font-size: 24px
  .articul
    color: #939291
    font-size: 14px
    border-top: 1px solid #E7E7E7
    border-bottom: 1px solid #E7E7E7
    padding: 15px 0
    margin-bottom: 20px
  .availability
    font-size: 14px
    margin-bottom: 20px
  .price
    font-size: 22px
    font-weight: 600
    margin-bottom: 25px

.product_slider
  margin-bottom: 20px
  .product_slider_item
    +flex
    +ai-center
    +j-center

  .slick-arrow
    width: 35px
    height: 35px
    background: #fff
    border: 2px solid #EEEEEE
    +border-radius(50%)
    z-index: 3
    &:hover
      background: $yellow
    &:before
      +b_a
      +m_a
      width: 7px
      height: 14px

  .slick-prev
    left: 0
    &:before
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='14' viewBox='0 0 7 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 13L1 7L6 1' stroke='%23343331' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")

  .slick-next
    right: 0
    &:before
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='14' viewBox='0 0 7 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L6 7L1 13' stroke='%23343331' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")

.product_slider_nav
  margin: 0 -5px
  .item
    padding: 0 5px
  .slick-current
    .product_slider_item_nav
      border: 2px solid #FFC907
  .product_slider_item_nav
    width: 100%
    height: 120px
    border: 1px solid #EEEEEE
    position: relative
    @media (max-width: 575px)
      height: 80px

    img
      position: absolute
      +m_a
      max-width: 95%
      max-height: 95%


.page_content
  min-height: 400px
.page-noscroll
  overflow: hidden
  &:after
    +b_a
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: rgba(0, 0, 0, 0.4)
    z-index: 9
  .contacts_form_content
    z-index: 1
  header
    //z-index: initial



.search_box
  position: relative
  @media (min-width: 576px)
    width: 100%
    max-width: 280px
  .search_toggler
    @media (min-width: 576px)
      display: none
    &.act
      &:before, &:after
        +b_a
        +m_a
        width: 20px
        height: 2px
        background: #333
      &:before
        +transform(rotate(45deg))

      &:after
        +transform(rotate(-45deg))
      + .search_form
        +flex
  .search_form
    +flex
    +ai-center
    background: #fff
    +border-radius(2px)
    overflow: hidden
    @media (max-width: 575px)
      display: none
      position: absolute
      top: calc(100% + 15px)
      right: 0
      z-index: 2
      width: 260px
      +box-shadow(3px 4px 35px rgb(0 0 0 / 17%))

    input
      height: 30px
      border: 0
      background: #fff
      width: calc(100% - 30px)
      padding: 0 15px

      &::-webkit-input-placeholder
        color: #939291
        font-size: 12px
      &::-moz-placeholder
        color: #939291
        font-size: 12px
      &::-ms-input-placeholder
        color: #939291
        font-size: 12px
      &:-moz-placeholder
        color: #939291
        font-size: 12px
      &:-ms-input-placeholder
        color: #939291
        font-size: 12px
.search_btn, .search_toggler
  position: relative
  background: linear-gradient(180deg, #FEDD00 0%, #FFC907 62.5%, #FCE208 100%)
  width: 30px
  height: 30px
  +border-radius(2px)
  border: 0
  &:before
    +b_a
    +m_a
    width: 14px
    height: 16px
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.1 6.31579C12.1 9.28263 9.61736 11.7316 6.5 11.7316C3.38264 11.7316 0.9 9.28263 0.9 6.31579C0.9 3.34895 3.38264 0.9 6.5 0.9C9.61736 0.9 12.1 3.34895 12.1 6.31579Z' stroke='%232C2C2C' stroke-width='1.8'/%3e%3cpath d='M9.75 11.0527L13 15.0001' stroke='%232C2C2C' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")


.email
  display: inline-block
  position: relative
  padding-left: 26px
  &:before
    +b_a
    left: 0
    top: 0
    bottom: 0
    margin: auto
    width: 16px
    height: 11px
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.431641 0.259534C0.619288 0.105624 0.816319 0.0211249 1.04775 0.00905352C1.12594 0.00301784 1.20412 0 1.28231 0C5.7796 0 10.2738 0 14.7711 0C15.0119 0 15.2433 0.0241427 15.4779 0.162963C12.9884 2.47161 10.5083 4.77724 8.01887 7.08891C5.48875 4.81044 2.96801 2.54102 0.431641 0.259534Z' fill='white'/%3e%3cpath d='M0.78833 10.9095C2.41461 9.39759 4.04089 7.88566 5.67968 6.36165C5.89861 6.55479 6.11127 6.74491 6.32081 6.93504C6.77429 7.34244 7.22465 7.74985 7.68126 8.15424C7.87203 8.32324 8.17227 8.32626 8.36305 8.15424C8.89784 7.66837 9.42326 7.17345 9.9518 6.68456C10.0894 6.55781 10.2301 6.43106 10.3834 6.29224C12.0722 7.81323 13.7579 9.3312 15.4436 10.8522C15.2341 10.988 15.0058 11.0001 14.7743 11.0001C11.747 11.0001 8.71958 11.0001 5.69219 11.0001C4.22228 11.0001 2.75238 11.0001 1.28247 10.997C1.11984 10.997 0.957213 10.9699 0.794585 10.9578C0.794585 10.9427 0.791458 10.9276 0.78833 10.9095Z' fill='white'/%3e%3cpath d='M0 1.27051C1.6513 2.75529 3.27133 4.20988 4.90386 5.67354C3.29009 7.1734 1.68257 8.66723 0.0469119 10.1852C0.0281472 10.0554 0.00312746 9.95887 0.00312746 9.85928C0 7.05872 0 4.25817 0 1.45761C0 1.40933 0 1.36104 0 1.27051Z' fill='white'/%3e%3cpath d='M11.1274 5.59496C12.7475 4.08604 14.3675 2.58316 16 1.06519C16 4.04681 16 6.99826 16 9.98894C14.3706 8.51623 12.7537 7.05862 11.1274 5.59496Z' fill='white'/%3e%3c/svg%3e ")



.w_100
  width: 100%


.nav-tabs_product
  +flex
  +wrap
  border-bottom: 2px solid $yellow
  li

    border: 1px solid #E7E7E7
    background: #F7F7F7
    +border-radius(2px 2px 0 0)
    border-bottom: 0
    width: 100%
    max-width: 180px
    height: 41px
    padding: 5px 10px
    +flex
    +ai-center
    +j-center
    color: #939291
    font-size: 14px
    text-transform: uppercase
    cursor: pointer
    @media (max-width: 767px)
      max-width: initial
      width: auto
      height: 35px
      font-size: 12px
    + li
      margin-left: 25px
      @media (max-width: 767px)
        margin-left: 10px
      @media (max-width: 575px)
        margin-left: 5px
    &.act
      color: #2C2C2C
      background: $yellow
      border: 1px solid $yellow


.tab-pane
  .h3, h3
    font-size: 16px
    font-weight: bold
    margin-bottom: 12px
  &:nth-child(2)
    padding: 30px 27px
  &:not(.active)
    display: none


.custom_table
  .tr
    +flex
    +ai-center
    +j-beetween
    position: relative
    margin-bottom: 10px
    @media (max-width: 767px)
      margin-bottom: 5px
    &:before
      +b_a
      left: 0
      right: 0
      bottom: 4px
      border-bottom: 1px dotted #C4C4C4
    .td
      color: #343331
      &:first-child
        span
          padding-right: 5px
      &:last-child
        span
          padding-left: 5px
      span
        display: inline-block
        position: relative
        background: #fff



.sidebar
  width: 27.5%
  @media (max-width: 991px)
    width: 100%
    padding-bottom: 20px
.main_content
  width: 72.5%
  @media (max-width: 991px)
    width: 100%



.filter_box
  background: #F2F2F2
  border: 1px solid #E7E7E7
  border-radius: 2px
  .filter_toggler
    width: 100%
    height: 45px
    +flex
    +ai-center
    +j-center
    background: #343331
    color: #fff
    font-weight: 600
    font-size: 14px
    text-transform: uppercase
    border-radius: 2px 2px 0 0
    @media (min-width: 992px)
      pointer-events: none
  .filter_form
    padding: 0 25px
    @media (max-width: 1200px)
      padding: 0 15px
    @media (max-width: 991px)
      display: none
  .filter_item
    border-bottom: 1px solid  #E7E7E7
    .filter_title
      color: #2C2C2C
      font-weight: 600
      font-size: 14px
      position: relative
      padding: 18px 0
      cursor: pointer
      &.act
        &:before
          +transform(rotate(-180deg))
        + .filter_body
          display: block
      &:before
        +b_a
        right: 0
        top: 0
        bottom: 0
        margin: auto
        width: 11px
        height: 6px
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10 1L5.5 5L1 1' stroke='%23939291' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
    .filter_body
      display: none
      padding-bottom: 20px

  .btn_group
    +flex
    //+wrap
    +ai-center
    +j-center
    border-radius: 2px
    padding: 20px 0
    button
      width: 100%
      max-width: 110px
      height: 45px
      font-weight: 500
      font-size: 14px
      text-transform: uppercase

      &.btn_custom
        background: linear-gradient(180deg, #FEDD00 0%, #FFC907 62.5%, #FCE208 100%)
        border: 0
        &:hover
          background: $yellow
        &.reset
          border: 1px solid #939291
          color: #939291
          background: none
          margin-left: 10px
          &:hover
            background: linear-gradient(180deg, #FEDD00 0%, #FFC907 62.5%, #FCE208 100%)
            border: 1px solid $yellow




.range_values
  .tasks_group
    +flex
    +ai-center
    +j-beetween
    position: relative
    margin-bottom: 10px
    &:before
      +b_a
      width: 11px
      height: 1px
      background: #939291
      +m_a
    span
      +flex
      input
        padding: 10px
        background: #FFFFFF
        border: 1px solid #E7E7E7
        box-sizing: border-box
        border-radius: 2px
        height: 35px
        width: 100%
        max-width: 100px
        color: #939291
        font-size: 14px

.range_row
  +flex
  +j-beetween
  font-size: 14px
  color: #939291
  margin-bottom: 10px

.range
  height: 3px
  background: $yellow
  border: 0 !important
  .ui-slider-range
    height: 3px
    background: #343331
  .ui-slider-handle
    width: 18px
    height: 18px
    +border-radius(50%)
    border: 3px solid #343331
    background: #fff
    top: -8px
    &:nth-of-type(1)
      margin-left: -2px
    &:nth-of-type(2)
      margin-left: -1.2em
.checkbox_list
  li
    margin-bottom: 12px
    &:last-child
      margin-bottom: 0
.checkbox
  position: relative
  input
    position: absolute
    opacity: 0
    &:checked
      + label
        &:before
          background: $yellow
          border: 1px solid $yellow
        &:after
          opacity: 1
    + label
      font-weight: 300
      font-size: 14px
      position: relative
      display: inline-block
      padding-left: 30px
      cursor: pointer
      &:before
        +b_a
        left: 0
        top: 0
        bottom: 0
        margin: auto
        width: 20px
        height: 20px
        background: #fff
        border: 1px solid #E7E7E7
        +border-radius(2px)

      &:after
        +b_a
        left: 3px
        top: 0
        bottom: 0
        margin: auto
        width: 14px
        height: 10px
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5 4L6 8.5L13 1.5' stroke='white' stroke-width='2'/%3e%3c/svg%3e ")
        opacity: 0

